VAPID_PUBLIC_KEY=BL-pHJr2pSdVmLrmguKA1rf1dpg-Z1BEnRVUw8tq2G_TcejKXD_-jW1UuIevOzuYwjYbKOvhTeHlR7sDHFWsyvQ
VAPID_PRIVATE_KEY=KQXgN7pwkgIxPN0ItaODyh7JEnrEwHvIp1wJHeSlCBk
VAPID_EMAIL=mailto:admin@campuscart.com
EMAIL_HOST_USER=bharathmoger123@gmail.com
EMAIL_HOST_PASSWORD=your-email-password
STRIPE_SECRET_KEY=sk_test_YOUR_STRIPE_SECRET_KEY
STRIPE_PUBLISHABLE_KEY=pk_test_YOUR_STRIPE_PUBLISHABLE_KEY
STRIPE_WEBHOOK_SECRET=whsec_YOUR_STRIPE_WEBHOOK_SECRET
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

DJANGO_SECRET_KEY=your-secret-key-here


FRONTEND_URL=http://localhost:8080


DB_NAME=campuscart_db
DB_USER=campuscart_user
DB_PASSWORD=campuscart_pass123
DB_HOST=localhost
DB_PORT=5432
